<style>
  .bg-1 {
    background: url("{{ '/images/environment.jpg' | relative_url}}") no-repeat center;
  }

  .bg-2 {
    background: url("{{ '/images/flag.jpg' | relative_url}}") no-repeat center;
    background-size: cover;
  }

  .bg-jefferson {
    background: url("{{ '/images/jefferson.jpg' | relative_url}}") no-repeat center;
    background-size: cover;
  }

  .bg-jeff-2 {
    background: url("{{ '/images/jeff-2.jpg' | relative_url}}") no-repeat center;
    background-size: cover;
  }


   
</style>