
{% assign candidate = include['candidate'] %}
<div class="col-lg-5 grid-layout">
  <div class="name">
    <p>
      <a href="{{candidate.campaign-website}}">
        {{candidate.First}} {{candidate.Last}}
      </a>
    </p>
  </div>
  <div class="race">
    {% if candidate.District.size == 2 %}
      <p>Sen-{{candidate.District}} </p>
    {% else %}
      <p>{{candidate.District}} </p>
    {% endif %}
  </div>

  <div class="bp">
    <a href="{{candidate.Ballotpedia}}">
      <img src="{{'/images/record.svg'}}"/>
    </a>
  </div>

  <div class="fb">
    <a href="{{candidate.Facebook}}">
      <img src="{{'/images/facebook.svg'}}"/>
    </a>
  </div>
  <div class="insta">
    <p>
      <a href="{{candidate.Instagram}}">
        <img src="{{'/images/instagram.svg'}}"/>
      </a>
    </p>
  </div>
  <div class="xcom">

      <a href="{{candidate.X}}">
        <img src="{{'/images/twitter.svg'}}"/>
      </a>

  </div>

  <div class="actblue">
      <a href="{{candidate.ActBlue}}">
        <img src="{{'/images/actblue.svg'}}"/>
      </a>
  </div>
</div>