
{% assign candidate = include['candidate'] %}
<div class="row" style="border: solid grey 1px; border-left: none; border-right: none;">
  <div class="col">
    <p>
      <a href="{{candidate.campaign-website}}">
        {{candidate.First}} {{candidate.Last}}
      </a>
    </p>
  </div>
  <div class="col d-flex align-items-center">
    {% if candidate.District.size == 2 %}
      <p>Sen-{{candidate.District}} </p>
    {% else %}
      <p>{{candidate.District}} </p>
    {% endif %}
  </div>

  <div class="col d-flex align-items-center">
    <p>
      <a href="{{candidate.Ballotpedia}}">
        Ballotpedia
      </a>
    </p>
  </div>

  <div class="col d-flex align-items-center">
    <p>
      <a href="{{candidate.Facebook}}">
        Facebook
      </a>
    </p>
  </div>
  <div class="col d-flex align-items-center">
    <p>
      <a href="{{candidate.Instagram}}">
        Instagram
      </a>
    </p>
  </div>
  <div class="col d-flex align-items-center">
    <p>
      <a href="{{candidate.X}}">
        Twitter
      </a>
    </p>
  </div>

  <div class="col d-flex align-items-center">
    <p>
      <a href="{{candidate.ActBlue}}">
        Donate
      </a>
    </p>
  </div>
</div>