<div class="footer container-fluid p-3">
  <div class="row">
    <div class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <h3 class="fw-bolder">Road to Blue</h3>
    </div>
    <div
      class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex flex-column gap-2">
      <p class="fw-bold">Address</p>
      <div>

        <p>
          P.O. Box 341263
          <br>
          Bethesda, MD 20827
        </p>
      </div>
    </div>
    <div
      class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  d-flex flex-column gap-2">
      <p class="fw-bold">Contact us</p>
      <div>

        <p>Emails</p>
        <p> Google Number</p>
      </div>
    </div>
    <div
      class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  d-flex flex-column gap-2">
      <p class="fw-bold">Socials</p>
      <div>

        {% include social.html %}
      </div>
    </div>

  </div>

</div>