<div class="footer container-fluid">
  <div class="row">
    <div class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <h1>Road to Blue</h1>
    </div>
    <div class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <p>Address</p>
      <p>
        P.O. Box 341263
        <br>
        Bethesda, MD 20827
      </p>
    </div>
    <div class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <p>Contact us</p>
      <p>Emails</p>
      <p> Google Number</p>
    </div>
    <div class="footer-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
      <p>Socials</p>
      <p>TK TKs</p>
    </div>

  </div>

</div>