<div class="scores">
  {% assign cats = "Environment Middle-East Guns Labor Abortion" | split: " " %}

  <table id="mychart" class="charts-css 
    bar hide-data 
    show-data-on-hover 
    data-start reverse-labels 
    reverse-data
    data-spacing-4">
    {% for category in cats %}
    {% assign bar = forloop.index | times: 0.2 %}
    {% assign bar_key = bar | append: "" %}
    <tr>
      <td class="score" style="--size: {{bar}};
      --color: {{site.data.bargraph[bar_key]}};
      color: white;
      border-radius: 10px;
      ">{{category}} </td>
    </tr>
    {% endfor %}
  </table>



</div>