<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          <div>

            <p style="color: white;">
              P.O. Box 341263
              Bethesda, MD 20827
            </p>
          </div>
          {% if site.data.seo.copyright_text %}
          <div class="copyright">{{ site.data.seo.copyright_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>