.viewport-block {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.bg-1 {
  background: url("/images/environment.jpg") no-repeat center;
}

.text-content, .image-content {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
 
  p {
    padding: auto;
    margin: auto;
    justify-content: flex-end;
    text-transform: capitalize;
    text-align: center;
    color: black;
    font-size: 46px;
  }
}

.image-content{
  img { 
    margin: auto; 
    padding: auto;
    max-width: 50%;
    max-height: 50%;
  }
}



.b {
  border: 1px solid black;
}

