---
layout: default
bodyClass: "page-elected"
---


<div class="container px-2">
  <div class="profile-header px-6 align-items-center">
    <img src="{{'/images/josh.png' | relative_url}}">
    <div class="content">
      <h1> George Washington</h1>
      <h2> VA District 1</h2>
    </div>
  </div>
  <div class="scores-wrapper py-3">
    {% include scores.html %}
  </div>
  <div class="bio content">
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus posuere
      sapien porta volutpat; malesuada torquent per mauris. Senectus donec nisl
      accumsan ac finibus torquent posuere montes. Nostra non dictumst velit
      rhoncus fusce quis diam maximus eleifend. Varius litora venenatis mollis
      velit ornare turpis. Ridiculus mus facilisis fusce aenean luctus. Aliquam
      parturient primis convallis interdum pellentesque. In inceptos euismod
      blandit hac; ipsum ornare integer pretium risus. Sagittis sed eget ex
      augue, integer sem nulla.
    </p>
    <p>
      Platea fermentum cubilia mattis conubia condimentum. Nostra in leo
      dictumst egestas egestas platea ornare. Est vestibulum justo semper nostra
      rutrum id montes. Integer dolor pharetra luctus torquent felis potenti
      duis blandit euismod. Efficitur aliquet nisl egestas egestas ut conubia
      diam. Eu hendrerit himenaeos neque ipsum habitasse dui. Gravida penatibus
      donec lacinia vulputate pellentesque. Aliquet mauris curae aenean aptent
      cursus purus suspendisse. Est dis consequat eu facilisis magnis lacinia;
      metus tristique natoque. Vestibulum eu odio mi mattis nam lectus.
    </p>
  </div>
  <div class="links">
    <div class="bp">
      <a href="{{candidate.Ballotpedia}}">
        <img src="{{'/images/record.svg' | relative_url}}" />
      </a>
    </div>

    <div class="fb">
      <a href="{{candidate.Facebook}}">
        <img src="{{'/images/facebook.svg' | relative_url}}" />
      </a>
    </div>

    <div class="insta">
      <a href="https://instagram.com/{{candidate.Instagram}}">
        <img src="{{'/images/instagram.svg' | relative_url}}" />
      </a>
    </div>
    <div class="xcom">

      <a href="{{candidate.X}}">
        <img src="{{'/images/twitter.svg' | relative_url}}" />
      </a>

    </div>

    <div class="actblue">
      <a href="{{candidate.ActBlue}}">
        <img src="{{'/images/actblue.svg' | relative_url}}" />
      </a>
    </div>
  </div>
</div>