---
layout: default
bodyClass: "page-elected"
---


<div class="container px-2 pt-3">
  <div class="profile-header d-flex flex-row gap-3 justify-content-between">
    <div>
      <img src="{{'/images/placeholder.png' | relative_url}}">
    </div>
    <div class="content d-flex flex-column justify-content-around">
      <div>
        <h1 class="text-end"> {{page.title}}</h1>
      </div>

      <div>
        <h2 class="text-end"> {{page.District}}</h2>
      </div>

    </div>
  </div>

  <div class="links">
    <div class="bp">
      <a href="{{page.Ballotpedia}}">
        <img src="{{'/images/record.svg' | relative_url}}" />
      </a>
    </div>

    <div class="fb">
      <a href="{{page.Facebook}}">
        <img src="{{'/images/facebook.svg' | relative_url}}" />
      </a>
    </div>

    <div class="insta">
      <a href="https://instagram.com/{{page.Instagram}}">
        <img src="{{'/images/instagram.svg' | relative_url}}" />
      </a>
    </div>
    <div class="xcom">

      <a href="{{page.X}}">
        <img src="{{'/images/twitter.svg' | relative_url}}" />
      </a>

    </div>

    <div class="actblue">
      <a href="{{page.ActBlue}}">
        <img src="{{'/images/actblue.svg' | relative_url}}" />
      </a>
    </div>
  </div>
</div>