---
layout: default
bodyClass: "page-home"
---


{% include bg-styles.html %}
<div class="container-fluid viewport-block bg-2">
</div>

<div class="strip">
  <div class="container-fluid">
    {% assign limit = site.home.limit_issues | default: 3 %}
    {% for service in site.issues limit: limit %}
    <div class="viewport-block bg-1 row">
      <div class="text-content col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>{{service.slug}}</p>
      </div>
      <div class="image-content col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{{'/images/actblue.svg' | relative_url}}" />
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">

          <div class="feature-image">
            <i class="{{feature.icon}} fa-4x"></i>
          </div>
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}