---
layout: default
bodyClass: "page-home"
---


{% include bg-styles.html %}
<div class="container-fluid viewport-block bg-2" role="img"
  alt="image of the American Flag">
</div>


<div class="viewport-block-2">
  <h1 class="home-title pb-2 pt-4 text-uppercase">Road to Blue</h1>
  <div class="container-fluid py-4 content">
    <div class="rowbar row">
      <div class="col-lg-6">

        <p class="fs-3">Do you ever ask yourself which candidate you should
          give
          your leftover cash
          to? That is obviously after paying your rent, buying your Starbucks,
          and
          releasing this week's stress with one too many drinks. Well, at Road
          to
          Blue, we are your one stop shop so you can take the guess work out of
          this
          ever so important part of your life (even more important than shooting
          your
          next Tik Tok).
        </p>
      </div>
      <div class="col-lg-6">
        <img class="cover"
          src="{{'/images/granite-plaque.jpg' | relative_url}}" />
      </div>
    </div>
  </div>
</div>

<div class="content p-5 off-color-bg viewport-block-2">
  <h1 class="home-title pb-2">
    Advantages
  </h1>
  <div class="rowbar row justify-content-around">
    <div class="col-12 col-md-4 col-lg-4">
      <p class="b-number text-center fw-semibold fs-3">
        1
      </p>
      <p class="text-uppercase text-center fw-bold">In-Depth Analysis</p>

      <p class="text-center">
        We provide an informative and comprehensive analysis of the available
        candidates from experts.
      </p>
    </div>

    <div class="col-12 col-md-4 col-lg-4">
      <p class="b-number text-center fw-semibold fs-3">
        2
      </p>
      <p class="text-uppercase text-center fw-bold">Thoughtful Reviews</p>
      <p class="text-center"> Our reviews are an objective and trustworthy
        evaluation of the reviewed candidates.</p>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <p class="b-number text-center fw-semibold fs-3">
        3
      </p>
      <p class="text-uppercase text-center fw-bold">Detailed Information</p>
      <p class="text-center"> We provide clear and concise facts on the
        candidates as well as their policies.</p>
    </div>

  </div>
</div>


<div class="content py-5">

  <div class="rowbar row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <img src="{{'/images/jefferson.jpg' | relative_url}}" />
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center">
      <div>
        <h1 class="text-uppercase text-center">trusted service</h1>
        <p class="text-center">
          Our rigorous reviews make sure you can make the
          best decision that is aligned with your values.
        </p>
        <a href="#" role="button">
          <p class="text-center"> Contact Us</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content viewport-block-2 pb-5 off-color-bg">
  <h1 class="home-title pb-2 pt-4">
    Our Services
  </h1>
  <div class="rowbar row">
    <div
      class="our-services os-1 col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex flex-column">
      <img src="{{'/images/mlk-front-facing.jpg' | relative_url}}" />
      <h3 class="text-uppercase">analysis and reviews </h3>
      <p>Receive expert reviews and comprehensive analysis of different
        political candidates.</p>
    </div>
    <div
      class="our-services col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex flex-column">
      <img src="{{'/images/white-house.jpg' | relative_url}}" />
      <h3 class="text-uppercase">supportive community </h3>
      <p>Engage in productive discussion with like-minded people and share your
        findings.</p>
    </div>
    <div
      class="our-services col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex flex-column">
      <img src="{{'/images/washington-monument.jpg' | relative_url}}" />
      <h3 class="text-uppercase">funding options</h3>
      <p>Find out the suitable political candidate that fits your interests for
        donating to.</p>
    </div>
    <div
      class="our-services col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 d-flex flex-column">
      <img src="{{'/images/granite-plaque.jpg' | relative_url}}" />
      <h3 class="text-uppercase">timely updates </h3>
      <p>Get informed on the the latest political news and updates to stay ahead
        of the game.</p>
    </div>


  </div>
</div>