---
layout: default
bodyClass: "page-service"
---

<div class="container-fluid pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row gap-3 justify-content-center">
      <div class="service service-single row">
        <h1 class="title">{{page.title}}</h1>

        {% if page.intro_image %}
        <div class="col title-image d-none d-lg-block">
          <img src="{{ page.intro_image | relative_url }}" />
        </div>
        {% endif %}
        <div class="content col">{{content}}</div>
      </div>

      {% assign candidates = site.data.candidates | sample: 10 %}
      {% for cand in candidates %}
        {% assign idx = forloop.index0 %}
        {% assign result = idx | modulo: 2%}
        {% if result == 0 %}
          <div class="viewport-block-2 bg-1"></div>
        {% endif %}
        {% include candidate.html candidate=cand %}
      {% endfor %}
    </div>
  </div>
  {% include bg-styles.html %}
</div>