---
layout: default
bodyClass: "page-service"
---

<div class="p-3">
   <div class="row gap-3 justify-content-center">
      <div class="container-fluid">
         <h1 class="title text-uppercase pt-4">{{page.title}}</h1>
         
         <div class="p-2 row">

            {% if page.intro_image %}
            <div class="col title-image d-none d-lg-block">
               <img src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
            <div class="content col">{{content}}</div>
         </div>
      </div>
   </div>
</div>

{% assign candidates = site.data.candidates | sample: 10 %}
<div class="container-fluid">

   {% for cand in candidates %}
   {% assign idx = forloop.index0 %}
   {% assign result = idx | modulo: 2 %}
   {% if result == 0 %}
   <div
      class="row viewport-block-2 {{page.slug}}-background-{{idx | divided_by: 2}} px-4 py-8 align-items-center justify-content-around">
      {% include candidate.html candidate=cand %}
      {% else %}
      {% include candidate.html candidate=cand %}
   </div>
   {% endif %}
   {% endfor %}

   {% if candidates | size | modulo: 2 == 1 %}
</div>
{% endif %}
</div>