---
layout: default
bodyClass: "page-services"
---

{% include bg-styles.html %}
<div class="container-fluid viewport-block-2 bg-jeff-2" role="img"
  alt="image of the Jefferson memorial">
</div>



<div class="container pb-6">
  <div class="row">
    {% for service in site.issues %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content content">
          <h2 class="service-title">
            <a style="color: white;" href="{{ service.url | relative_url }}">{{
              service.title }}</a>
          </h2>
          <p>{{ service.excerpt | markdownify | strip_html | truncate: 60 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>